---
# 
---
@charset "utf-8";

// Variables
$base-font-family: -apple-system, BlinkMacSystemFont, 
    "Roboto", "Ubuntu", "Segoe UI", 
    "Fira Sans", "Droid Sans", "Helvetica Neue", 
    sans-serif;
$base-font-size:   16px;
$base-font-weight: 500;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$reading:          "Adobe Caslon Pro","Athelas","Goudy Old Style","Californian FB", Georgia, serif;
$serif:            "Questa", Georgia, serif;
$sansserif:        "Questa Sans", "Franklin Gothic", Helvetica Neue, sans-serif;
$display:          "QuestaGrande", Georgia, serif;

$spacer:           2rem;

$text-color:       #2B2B2B;
$background-color: #fdfdfd;
$accent-color:     #a58e19;
$pink-color:       #f1c9d4;
$blue-color:       #c9eaf1;
$green-color:      #a3f3c9;

$bp-tablet:        768px;
$bp-desktop:       1024px;
$bp-desktop-wide:  1440px;


// mobile-first css; with media queries for tablet and desktop
@mixin query($breakpoint) {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "base",
  "typography",
  "layout",
  "animation"
;
