* {
  box-sizing: border-box; }
  *:focus {
    outline: 0.25rem solid white;
    border-bottom: 0.25rem solid #2B2B2B;
    transition: 0; }

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

html, body {
  overflow-x: hidden;
  position: relative; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Ubuntu", "Segoe UI", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  color: #2B2B2B;
  background: white;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1,"liga" 1,"calt" 1,"pnum" 1,"tnum" 0,"onum" 1,"lnum" 0,"dlig" 0;
  -moz-font-feature-settings: "kern" 1,"liga" 1,"calt" 1,"pnum" 1,"tnum" 0,"onum" 1,"lnum" 0,"dlig" 0;
  -ms-font-feature-settings: "kern" 1,"liga" 1,"calt" 1,"pnum" 1,"tnum" 0,"onum" 1,"lnum" 0,"dlig" 0;
  font-feature-settings: "kern" 1,"liga" 1,"calt" 1,"pnum" 1,"tnum" 0,"onum" 1,"lnum" 0,"dlig" 0;
  font-kerning: normal;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  padding-bottom: calc(100vh); }

main {
  background-color: #fdfdfd;
  display: block; }

nav {
  left: 0;
  bottom: 0; }

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  margin-bottom: 2rem; }

img {
  max-width: 100%; }

figure > img {
  display: block; }

figcaption {
  font-size: 0.95rem; }

.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #2B2B2B; }

a {
  color: #2B2B2B;
  text-decoration: none;
  background-color: transparent;
  background-image: -webkit-linear-gradient(transparent -300%, currentColor 600%);
  background-image: linear-gradient(transparent -300%, currentColor 600%);
  text-decoration: none;
  background-repeat: no-repeat;
  background-size: 100% 1px;
  background-position: 0 100%; }
  a:hover {
    color: #2B2B2B;
    border-bottom: 0.1em solid #2B2B2B; }

hr {
  border: 0.5rem solid;
  margin: 4rem 0 0; }

p, ul {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.7em; }
  @media screen and (min-width: 768px) {
    p, ul {
      font-size: 1.3rem; } }
  @media screen and (min-width: 1024px) {
    p, ul {
      font-size: 1.5rem; } }

@media screen and (min-width: 1024px) {
  ul {
    padding-left: 2rem; } }

blockquote {
  font-weight: 600;
  padding: 1rem 0 1rem 1rem;
  border-left: 0.5rem solid #2B2B2B; }
  @media screen and (min-width: 1024px) {
    blockquote {
      margin-left: 2rem;
      padding: 1rem 0 1rem 2rem;
      border-left: 1rem solid #e9d56e; } }

h2 {
  font-weight: normal; }
  @media screen and (min-width: 768px) {
    h2 {
      font-weight: 300; } }
  @media screen and (min-width: 1024px) {
    h2 {
      font-weight: 200; } }

.f-disp {
  font-family: "Questa", Georgia, serif;
  font-weight: normal; }
  @media screen and (min-width: 1024px) {
    .f-disp {
      font-family: "QuestaGrande", Georgia, serif; } }

.f-i {
  font-style: italic;
  letter-spacing: -0.02em; }

.hero {
  font-size: 3rem;
  line-height: 1em;
  letter-spacing: -0.02em; }
  @media screen and (min-width: 768px) {
    .hero {
      font-size: 5rem; } }
  @media screen and (min-width: 1440px) {
    .hero {
      font-size: 7rem; } }

.xxl {
  font-size: 2rem;
  letter-spacing: -0.01em; }
  @media screen and (min-width: 768px) {
    .xxl {
      font-size: 4rem; } }
  @media screen and (min-width: 1440px) {
    .xxl {
      font-size: 5rem; } }

.xl {
  font-size: 1.6rem;
  letter-spacing: -0.01em; }
  @media screen and (min-width: 768px) {
    .xl {
      font-size: 3rem; } }
  @media screen and (min-width: 1440px) {
    .xl {
      font-size: 4rem; } }

.l {
  font-size: 1.3rem; }
  @media screen and (min-width: 768px) {
    .l {
      font-size: 1.6rem; } }
  @media screen and (min-width: 1440px) {
    .l {
      font-size: 2rem; } }

.color-accent {
  color: #a58e19; }

.color-pink {
  color: #f1c9d4; }

.color-blue {
  color: #c9eaf1; }

.color-green {
  color: #78a28c; }

.work {
  letter-spacing: -0.01em;
  font-size: 1.5rem; }
  @media screen and (min-width: 768px) {
    .work {
      font-size: 2rem; } }
  @media screen and (min-width: 1024px) {
    .work {
      font-size: 3rem; } }
  @media screen and (min-width: 1440px) {
    .work {
      font-size: 6vh; } }

@media screen and (min-width: 1024px) {
  .nav {
    font-size: 1.5rem; } }

.l-nu {
  text-decoration: none;
  background-image: none; }
  .l-nu:hover {
    border: 0; }

._::after {
  content: '__'; }

._hover::after {
  content: '__';
  color: transparent; }
._hover:hover {
  border: 0; }
  ._hover:hover::after {
    color: #2B2B2B;
    animation: blink 1s infinite; }

._focus:focus {
  border: 0;
  font-weight: bold;
  font-style: italic;
  letter-spacing: -0.01em; }
  ._focus:focus::after {
    content: '__';
    color: #2B2B2B;
    transition: 100ms; }

.no-bullet {
  list-style: none; }

.abs {
  position: absolute; }

.fixed {
  position: fixed; }

.relative {
  position: relative; }

.top {
  top: 0; }

.bottom {
  bottom: 0; }

.float-left {
  float: left;
  padding-right: 3rem; }

.float-right {
  float: right;
  padding-left: 3rem; }

.push-top {
  margin-top: 10vh; }

.space-top {
  padding-top: 4rem; }

.space-bottom {
  padding-bottom: 4rem; }

.space-bottom-x2 {
  padding-bottom: 8rem; }

.z-0 {
  z-index: 0; }

.z-1 {
  z-index: 1; }

.z-2 {
  z-index: 2; }

.fullwidth {
  width: 100vw; }

.width-main {
  width: 100vw;
  height: auto;
  margin-right: 2rem;
  vertical-align: top; }
  @media screen and (min-width: 768px) {
    .width-main {
      width: 60vw;
      vertical-align: middle; } }

.width-aside {
  width: 30vw;
  height: auto; }

.expand {
  height: 100%;
  width: 100%; }

.container {
  left: 0;
  padding: 2rem; }
  @media screen and (min-width: 768px) {
    .container {
      padding: 10vh 10vw; } }

.measure {
  max-width: 35em; }

.scroll-x {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 0 2rem 2rem; }
  @media screen and (min-width: 768px) {
    .scroll-x {
      padding: 0 10vw 10vh; } }

.hide-overflow {
  overflow: hidden; }

.inline-block {
  display: inline-block; }

.border-accent {
  border-color: #a58e19; }

.border-pink {
  border-color: #f1c9d4; }

.border-blue {
  border-color: #c9eaf1; }

.border-green {
  border-color: #78a28c; }

.frame {
  border-width: 0.5rem;
  border-style: solid;
  padding: 2rem; }

.work, .nav {
  list-style: none;
  padding: 0 0 1rem; }
  .work li, .nav li {
    padding: 0.5em;
    margin: -0.5em -0.5em 0em; }
    @media screen and (min-width: 1024px) {
      .work li, .nav li {
        padding: 0.3em;
        margin: -0.3em -0.3em 0; } }

.nav li {
  display: inline-block;
  margin-right: 1rem; }

.logo {
  width: 4rem;
  padding-top: 1rem;
  margin-top: 1rem; }
  @media screen and (min-width: 1024px) {
    .logo {
      width: 5rem; } }

@keyframes fadetopink {
  0% {
    color: #2B2B2B; }
  100% {
    color: #f1c9d4; } }
@keyframes fadetoblue {
  0% {
    color: #2B2B2B; }
  100% {
    color: #c9eaf1; } }
.fadeto-pink {
  animation: fadetopink 500ms; }

.fadeto-blue {
  animation: fadetoblue 500ms; }

@keyframes changebg {
  0% {
    background-color: #fdfdfd; }
  25% {
    background-color: #f1c9d4; }
  50% {
    background-color: #fdfdfd; }
  75% {
    background-color: #e9d56e; }
  100% {
    background-color: #fdfdfd; } }
.a-bg {
  animation: changebg 20s;
  animation-iteration-count: infinite; }

@keyframes fadefrombottom {
  0% {
    opacity: 0;
    transform: translateY(4rem); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }
.enter-frombottom {
  animation: fadefrombottom 500ms; }

@keyframes blink {
  0% {
    opacity: 1; }
  100% {
    opacity: 0.01; } }
